[2018-09-10 15:38] tleneveu opened #2 "Open PR on Rails"
@igorkasyanchuk Do you plan to open a PR on Rails ?

I can help if needed.

[2018-09-10 20:35] igorkasyanchuk commented on #2
yes, but I'll let you know if I need help. A very interesting task, plan to start very soon.
Already created an issue https://github.com/rails/rails/issues/33741

[2018-09-24 18:40] GBH opened #6 "Content type validation should handle regex expression"
`validates :image, content_type: /\Aimage\/.*\z/` Should  be a valid expression

[2018-10-03 16:39] reckerswartz opened #7 "stop active storage upload when model validation fails or transaction abort"
the issue happens when model validation throws an error but the file gets uploaded to active storage.
eg. devise edit profile
avatar get upload even password is not correct.

[2018-10-03 17:57] igorkasyanchuk commented on #7
@reckerswartz does it works same way without this gem?

[2018-10-03 18:03] reckerswartz commented on #7
@igorkasyanchuk  yes!

[2018-10-04 00:09] reckerswartz commented on #7
closing issue in favor of Rails 6

[2018-10-04 00:09] #7 closed

[2018-10-17 06:30] dbbooke opened #12 "image upload size"
Is there any validations for how many images a user can uploaded? For example, each post can post up to 24 images?

[2018-10-17 07:00] reckerswartz commented on #12
Nope, never thought of that.

[2018-10-17 07:11] reckerswartz commented on #12
@igorkasyanchuk do you want this to be handled in new validation class or i update it in size validation class?

[2018-10-17 07:28] igorkasyanchuk commented on #12
Hi, yes, new validation class. Something like

validates ... attachments_count: { max: 15 OR min: 10  }

[2018-11-29 13:53] tleneveu commented on #2
@igorkasyanchuk 🆙

[2018-11-29 20:31] farkare opened #14 "Error : undefined method `before_attachments_post_process' for #<Class:0x000000147116c8>"
I have added following in the model:

`validates_attachment :attachments, attached: true, content_type: { content_type: COMMON_MIME_TYPES }`

And here is what exception I get:
[code]

Am I missing something?

[2018-11-29 20:34] reckerswartz commented on #14
Can you make sure your content type is syntax is correct?

[2018-12-03 14:49] farkare commented on #14
Thanks @reckerswartz , it works! I missed it while migrating from paperclip to active storage.

[2018-12-03 14:49] #14 closed

[2019-01-22 14:21] alexanderadam opened #15 "AttachedValidator isn't known on ActiveModel / a form object"
A typical form object might look like

[code]
And storing the file might happen later on.
So the question is: is there any possibility to use active storage validation on that model?
Because using the validation directly at the moment leads to

`uninitialized constant ModelName::AttachedValidator`.

Thank you in advance

[2019-01-22 14:22] alexanderadam commented on #15
Nevermind. Directly including `ActiveStorageValidations` works like charm. :wink:

[2019-01-22 18:37] igorkasyanchuk commented on #15
great :)
if you want you can make a PR about it into Readme, and show working example for form object models

[2019-01-23 07:20] alexanderadam commented on #15
Sorry I was wrong yesterday. It didn't complained about the missing validator anymore but it didn't work either. :wink:
In the project I'm working on I skipped the logic that requires this for now because I don't have the time to investigate at the moment.

[2019-01-27 21:17] ivanelrey commented on #12
Hi @igorkasyanchuk can you please review the pull request and tell me if any changes needed, thanks?

[2019-01-28 03:26] connorshea opened #17 "Support for Rails 6"
Can the gemspec be updated to allow for usage with Rails 6?

[2019-01-28 21:05] igorkasyanchuk commented on #12
yes, already commented. very minor fix is needed not related to code

[2019-01-28 21:24] igorkasyanchuk commented on #17
New version just released. Thanks

[2019-01-28 21:24] #17 closed

[2019-01-28 22:36] connorshea commented on #17
🎉 thanks!

[2019-02-05 12:23] tleneveu commented on #2
@reckerswartz has create a PR

https://github.com/rails/rails/pull/34842

[2019-02-05 12:23] #2 closed

[2019-02-10 22:55] ivanelrey commented on #6
@igorkasyanchuk what you think about this issue? Should this be implemented?

[2019-02-11 06:34] igorkasyanchuk commented on #6
Probably, if you want to implement it could be useful for some people.

[2019-03-02 12:39] cseelus opened #22 "Default error message for file sizes"
Very nice work, especially the `limit` on the number of attached files comes in handy for the app I'm working on.

Any chance default error messages for `size` validations could be added or generally for all validation types listed in the README under *What it can do*?

This would make the `validates :attachment …` code in the models much cleaner than having to manually add a (localized) error mes

[2019-03-29 17:20] aryrabelo opened #24 "Improvements, add dimension validation able to avoid malicious images"
I believe that I'm able to add dimension validations, using FastImage gem that can avoid malicious images such as pointed out here: https://github.com/fuzzdb-project/fuzzdb/tree/master/attack/file-upload/malicious-images

Do you think this is a valid contribution?

[2019-03-29 17:56] igorkasyanchuk commented on #24
This could be useful. To have validation like minimum, maximum dimension size. For example I personally could use it. Try to create PR with initial code and see if you need help

[2019-04-03 11:11] phlegx commented on #24
I give it a try! I create a PR on success. :v:

[2019-04-11 17:31] jasonperrone opened #26 "Content type validation simply not working"
[code]

No validation error is given and active storage records are created.

[2019-04-13 18:26] connorshea opened #27 "'Aspect Ratio' validation"
Related to #24 and #25, I'd like to be able to validate the aspect ratio of an image. For example, I want user avatars to be square, so the height and width have to match. I don't really care what size the image is in exact pixels (so, e.g. `dimensions: { width: 200, height: 200 }` wouldn't work for me).

For me, a simple `is_square` validation would work, like so:

[code]

I imagine you could alt

[2019-04-13 18:33] reckerswartz commented on #27
@connorshea ratio will be much flexible option from range  1:1  to n:m, rather than using limited alias, which also not good way to determine perfect need.

[2019-04-15 12:15] igorkasyanchuk commented on #27
I think this is could be very useful feature and I think

aspect_ratio: square/landscape/portrait/16_x_9/3_x_4/1_x_1/etc.. are all valid, some of them will be a synonims for other.

@connorshea, @reckerswartz  do you think you can implement it?

[2019-04-15 17:27] jasonperrone commented on #26
I think the problem here is that active storage upload is done even if validation fails. Is that as expected?

[2019-04-15 17:40] igorkasyanchuk commented on #26
not sure, but maybe I've seen some post about this bug in active storage, which should be fixed in rails 6.

[2019-04-15 17:41] jasonperrone commented on #26
Ok. It's not a problem for me right now, I can wait till 6. Thanks!

[2019-04-15 17:41] #26 closed

[2019-06-04 22:06] pjmartorell opened #30 "Rails 5.2: delete attachment if it's not valid"
Hi! as you already know, in Rails 5.2 validations on ActiveStorage attachments are useless since they are saved as soon as they are assigned to a model. Then, it would be possible to add a custom behaviour for Rails 5.2 that deletes the attachment if the attachment is not valid?
If you have any idea that works outside of this gem it would be really appreciated as well :roll_eyes:

The only shitty

[2019-06-05 05:26] igorkasyanchuk commented on #30
in rails 6 it's fixed I guess

but for rails 5
try this approach (should work for both one and many attached files, but didn't try)

Maybe we can create some helper to do it automatically, so I'm looking for volunteers :)

[code]

[2019-06-05 08:28] pjmartorell commented on #30
Thanks for your reply, but your solution is destroying all files and it should only destroy the ones added in the current request or at least only delete the ones that are invalid, but not all of them. The Array.wrap is unnecessary I think, because `files` it's already an Array of attachments.

[2019-06-05 08:38] pjmartorell commented on #30
I think the best solution would be to somehow add validations directly to `ActiveStorage:: Attachment` itself, maybe including a `Concern` or something like that. This will ensure that no invalid attachments are created. But this will make all attachments to have the same validations, anyway I think something similar to this would do the trick.

[2019-06-05 17:05] pjmartorell commented on #30
Finally I monkey-patched ActiveStorage::Attachment to include validations:

`config/initializers/active_storage_attachment_validations.rb`:
[code]
`app/validators/content_type_validator.rb`:
[code]

Due to the implementation of the `attach` method in Rails 5:
[code]
The `create!` method raises an `ActiveRecord::RecordInvalid` exception when validations fail, but it just needs to be rescued and tha

[2019-06-05 18:13] oiuzikov opened #31 "Rails 6.0.0.rc1: ActiveStorage::FileNotFoundError on model save"
The following declaration throws `ActiveStorage::FileNotFoundError` in Rails 6.0.0.rc1 when I try to save a model:

[code]

with the following cause:

`
Errno::ENOENT: No such file or directory @ rb_sysopen - /home/oleksandri/Code/marketplace/storage/08/3z/083z1pphjimzuwty55kqvb7t1hhj
`

Is it supported in Rails 6?

Thank you for your valuable work

[2019-06-05 18:47] igorkasyanchuk commented on #31
Don't know. Maybe, we don't have specs for different versions. Please post full stack trace to see where is error happens

[2019-06-05 19:17] oiuzikov commented on #31
Thank you for quick reply. Here is the trace you asked for.

I also did a quick research and seems like ActiveStorage doesn't save the attachment to the file system before the model is saved which in turn breaks the validation flow...

Extracted source (around line 19):
[code]

Exception causes:
[code]
Request:
[code]

Full trace:
[code]

[2019-06-05 19:47] igorkasyanchuk commented on #31
But with Rails 5.2 all is OK?

I think the problem is that in Rails 5 there were no validations and all records were persisted.
In Rails 6 team fixed only persistence issue, but build-in validations were not added. So now this issue exists.

I suggest trying to fix this issue and submit PR, I just don't have enough time to handle all activities.

Adding author of dimensions validation for advise:

[2019-06-05 19:55] igorkasyanchuk commented on #31
issue is reproducable if you change in gemspec

s.add_dependency 'rails', '6.0.0.rc1'
(plus maybe bundle update sqlite)

and run

bundle exec rake test

[2019-06-11 12:12] phlegx commented on #31
Here the line of method `analyze`: [active_storage/blob/analyzable.rb#L28](https://github.com/rails/rails/blob/v6.0.0.rc1/activestorage/app/models/active_storage/blob/analyzable.rb#L28)

[2019-07-11 10:00] prettyGoo opened #32 "`require': cannot load such file -- mini_magick"
I tried to add some validations to the image field attached via active-storage. However, when I launch my rails server, I get next error

[code]

As I see **_mini_magic_** comes as dev-dependency for this gem, but it's absent in my _**Gemfile.lock**_. So my question is **_mini_magic_** obligatory to use with this gem for image validation? My app uses **_active_storage + imgproxy_** for image handl

[2019-07-14 06:09] imi56 commented on #31
Just commenting for more clarity. I am also facing the exact same issue.  If I remove `dimension` validation it works.
rails: (6.0.0.rc1)
mini_magick (4.9.4)
active_storage_validations (0.7.1)

[2019-07-15 20:06] igorkasyanchuk commented on #32
from what I see it's needed for dimension validations (but it's anyway doesn't work with Rails 6 RC at least now), so PR is needed

[2019-07-15 21:19] igorkasyanchuk commented on #31
after some time for investigation, I found the following. In Rails 6 files are stored on disk after record was saved.

You can see it here (for reading it works with different class and without attachable):

ruby
[code]

http://prntscr.com/ofgv13 (I see one useful method "attachment_changes") which returns a hash of files which should be saved.

Looks like to validate attached files it's needed to

[2019-07-15 21:34] igorkasyanchuk commented on #31
OK, here is an initial code fix which works with Rails 6 rc1 ONLY (for Rails 5.2 use current stable version 0.7.1): https://github.com/igorkasyanchuk/active_storage_validations/pull/33

who can try and see if it works?

[2019-07-15 21:37] igorkasyanchuk commented on #32
try this PR => https://github.com/igorkasyanchuk/active_storage_validations/pull/33

[2019-07-15 22:12] igorkasyanchuk commented on #32
check this branch: https://github.com/igorkasyanchuk/active_storage_validations/tree/rails.6.rc1.fix if it works

[2019-07-15 22:13] igorkasyanchuk commented on #31
check this branch: https://github.com/igorkasyanchuk/active_storage_validations/tree/rails.6.rc1.fix if it works on real project

[2019-07-18 19:08] igorkasyanchuk commented on #32
OK, in Readme it says to add this dependency if you are using dimension validator. Mini_magic gem is optional since it's only needed for this type of validation.

[2019-07-18 19:08] #32 closed

[2019-07-18 19:08] igorkasyanchuk commented on #31
OK, try this for Rails 6:

[code]

[2019-07-18 19:08] #31 closed

[2019-07-18 19:09] igorkasyanchuk commented on #30
This gem doesn't patch Rails and has no control on this behavior.
In Rails 6 this issue is fixed and use this version of gem:

gem 'active_storage_validations', github: 'igorkasyanchuk/active_storage_validations', branch: 'rails.6.rc1.fix'

[2019-07-18 19:09] #30 closed

[2019-07-18 19:11] #12 closed

[2019-07-18 19:13] #22 closed

[2019-07-23 20:25] igorkasyanchuk commented on #27
Work in progress:

https://github.com/igorkasyanchuk/active_storage_validations/pull/34

[2019-07-25 18:51] danderozier commented on #31
Howdy. I'm using the rails.6.rc1.fix branch, and I'm encountering an issue when I try to validate both the content_type and dimension of an attachment.

[code]

In my tests, I'm verifying that an Image with a PDF attachment should not be valid:
[code]

But this results in a `StandardError: File has no dimension and no width and height in metadata`.

It seems that the dimension validator checks pre

[2019-07-25 19:08] danderozier commented on #31
Update: I have a quick fix going here: https://github.com/danderozier/active_storage_validations/commit/a5d81ca4369fb078858ed4f53d2fdc7d0294a2c6

Happy to submit a PR if you think this is the right approach.

[2019-07-26 08:34] igorkasyanchuk commented on #31
@danderozier please make a PR to this PR, if specs are OK I'll merge
if possible you can improve specs, since now they are very basic

[2019-07-26 12:03] phlegx commented on #31
@igorkasyanchuk @danderozier so, in the quick fix if there is no metadata on an image the validation fails instead of rise an error? For me @danderozier solution is good! Thx

[2019-07-29 18:09] igorkasyanchuk commented on #31
@danderozier could you please make a PR with this fix. Please also do similar to `ActiveStorageValidations` file, it has a similar check so it will be useful

[2019-07-29 18:37] danderozier commented on #31
@igorkasyanchuk I'd be happy to — though I'm not sure what you're looking for, re: `ActiveStorageViolations` file, could you be more specific?

[2019-07-29 18:54] igorkasyanchuk commented on #31
@danderozier  I'm speaking about this commit https://github.com/danderozier/active_storage_validations/commit/a5d81ca4369fb078858ed4f53d2fdc7d0294a2c6

please pull the latest changes from my branch and see new file : AspectRatioValidator this for dimention validations, it has similar code, so I think this change is needed there too?

[2019-08-01 20:33] igorkasyanchuk commented on #27
added.
now in version 0.8.0 and master

[2019-08-01 20:33] #27 closed

[2019-08-07 06:31] #24 closed

[2019-08-07 06:31] igorkasyanchuk commented on #6
Implementerd

[2019-08-07 06:31] #6 closed

[2019-08-13 15:28] falseresync opened #39 "All validations don't work with Rails 6 in tests"
My stack:
- Rails 6
- RSpec
- This gem

My model code:
[code]

My spec code:
[code]
First example passes with any file, second fails with any file. That means all validations used don't work (except size, which I haven't tested). It worked fine previously with Rails 5.2 outside of the test environment

[2019-08-13 15:30] igorkasyanchuk commented on #39
@falseresync try to pull gem and contribute and fix the issue, this is really difficult to find time. Gem has specs so it's possible to do.

[2019-08-13 16:10] falseresync commented on #39
Ok, after pulling the gem and experimenting with it, I found that the major problem were wrong specs. Gem doesn't purge the attachment if it is invalid, so `be_attached` is always truthy. After changing examples to:
[code]
It partially worked. Now it doesn't allow correct image, aspect ratio and dimension validators reject it

[2019-08-14 07:43] igorkasyanchuk commented on #39
@falseresync so ... what is expected?

[2019-08-14 08:23] falseresync commented on #39
I tested it, it seems like the image being parsed in a wrong way. I expect it to allow correct image that should satisfy the conditions, but it is not because of these two validators. Honestly, I have no idea where the problem is

[2019-08-14 08:37] igorkasyanchuk commented on #39
@falseresync try to make a PR with a test with a problem, describe the problem and maybe later me or someone could take a look

[2019-08-14 09:28] falseresync commented on #39
Oh! No need for that. I found the issue. I have no ImageMagick installed and RSpec blocks all of the messages from the gem. Thank you :)

[2019-08-14 09:28] #39 closed

[2019-10-03 09:47] JacobAlexander commented on #15
Same issue. How we should validate file attribute in form objects ?

[2019-10-03 18:20] frobert opened #41 "Not valid file not purged from database"
The validation message works but the not valid file is still in database, should be purged/removed after it is not valid.

Any advice?

[2019-10-03 18:23] igorkasyanchuk commented on #41
version of Rails? if 5.2 this is known issue. In Rails 6 it's fixed. This is internal bug in active storage

[2019-10-03 18:26] frobert commented on #41
It is Rails 6

[2019-10-03 18:58] igorkasyanchuk commented on #41
oh, maybe it was not fixed, original issue was here: https://github.com/rails/rails/issues/33741

[2019-10-03 20:07] frobert commented on #41
:/ any ideas on a workaround?

[2019-10-03 20:38] igorkasyanchuk commented on #41
no ideas. maybe in the controller if validation failed you need to clean up invalid files. Basically iterate over files and purge/delete them.

[2019-10-04 08:55] #41 closed

[2019-10-14 15:11] UICJohn opened #42 "Limit validator not working for rails 6"
The limit validation doesn't work for rails 6 active storage

The change of implementation of ActiveStorage::Attached::Many#attach bellow cause duplicate attachables which break the limit validation.

[code]

[2019-10-14 15:29] igorkasyanchuk commented on #42
Can you make a fix and PR?

[2019-10-16 00:15] connorshea opened #43 "content_type validator doesn't quite work"
So I just discovered that the content type validation doesn't work quite right at the moment if you upload, e.g. a webp file with the name `image.png`.

To reproduce the issue:

- Create an attachment on a model where the attachment can only be a PNG.
[code]

- Find and download a webp file (see https://developers.google.com/speed/webp/gallery1 for some examples)
- Upload the webp file to your Rai

[2019-10-16 07:14] UICJohn commented on #42
Sure
Just wanna confirm something.
Before I making any changes, I modified the test for limit validations in
`active_storage_validations_test.rb line 65`

`test 'validates number of files' do
    e = Project.new(title: 'Death Star')
    e.preview.attach(big_file)
    e.small_file.attach(dummy_file)
    e.attachment.attach(pdf_file)
    e.documents.attach(pdf_file)
+    p e.documents.attachments.co

[2019-11-01 10:56] romkaspb opened #47 "Raise exception when ImageMagick not installed"
Hey Igor, thanks for your gem.
When I try to add `dimension` validation and no ImageMagick installed, I'm getting error ActiveRecord validation error with text `Image is not a valid image`. It's expectedly but not obvious to have ImageMagick installed.

I think it's better to throw exception when user tries to use `dimension` validator. What do you think about it? I can create PR if nesessary.

Th

[2019-11-05 21:38] ImOnMars opened #48 "Rspec test matchers?"
This isn't really an issue per se so feel free to close it ASAP, but I was just wondering if there's a way to test the validations in Rspec, similar to how Paperclip had `validate_attachment_content_type`?

[2019-11-05 21:57] igorkasyanchuk commented on #48
Don't know. But open for a PR's to merge them. If you can take a look how it's implemented in Paperclip and prepare PR I'll merge it

[2019-11-06 17:28] ImOnMars commented on #48
I will look into it but I'm brand new to ActiveStorage and have no experience writing matchers.

[2019-11-06 19:47] igorkasyanchuk commented on #48
use similar paperclip or carrierwave matchers as an example

[2019-11-06 22:24] ImOnMars commented on #48
Okay, well I'm not necessarily going to PR them as I'm unsure of whether these are good or extensive implementations, as well as the fact that I haven't tested them very much, but I seem to have implemented a couple of them:

Attachment Presence:
[code]

Attachment Content Type:
[code]

Note that for the above I have a helper module in my app called `AttachmentHelper`, which contains an object of

[2019-11-18 19:56] igorkasyanchuk commented on #47
Hi, in readme there is instruction about it: https://github.com/igorkasyanchuk/active_storage_validations#installation

[2019-11-18 19:56] #47 closed

[2019-11-18 20:19] igorkasyanchuk commented on #15
closing based on https://github.com/rails/rails/issues/31408#issuecomment-416235109

[2019-11-18 20:19] #15 closed

[2019-11-18 20:36] igorkasyanchuk commented on #42
pls try: active_storage_validations-0.8.5.gem

[2019-11-18 20:36] #42 closed

[2019-11-18 20:49] igorkasyanchuk commented on #43
Not sure if the issue exists: https://github.com/igorkasyanchuk/active_storage_validations/commit/d7020c06af58f5ab94aead42d46fc31553c97faf

but here is the test. If you can make test fail and than fix it would be great

[2019-11-18 20:49] #43 closed

[2019-11-18 21:13] connorshea commented on #43
Do the tests run on a specific version of Rails?

[2019-11-18 22:01] igorkasyanchuk commented on #43
https://travis-ci.org/igorkasyanchuk/active_storage_validations/builds/613692053 5.2, 6.0

try to reproduce in your branch

[2019-12-20 09:06] timokleemann opened #52 "How to exit when validation fails?"
Hi,

I have this code:

[code]

It seems my `valid_file` method always runs, even when the `validates :file` method fails. How can I prevent that from happening?

[2019-12-20 09:22] igorkasyanchuk commented on #52
what is inside your `valid_file` ?

[2019-12-20 09:24] timokleemann commented on #52
This:

[code]

The problem is it gets run every time, even when the `content_type` has already failed the previous validation.

[2019-12-20 13:11] igorkasyanchuk commented on #52
what if you can do something like

[code]

[2019-12-20 15:33] timokleemann commented on #52
Thanks but that won't work either. When the *wrong* content type reaches the line `worksheet = RubyXL::Parser.parse(path)[0]` everything crashes. I need to somehow validate *before* that line that the content type is **xlsx**.

[2019-12-21 12:08] igorkasyanchuk commented on #52
It would be great if you can clone the repo,
in test/dummy app create a new model where you can reproduce the issue so I or other people could look into it.

Another idea:

You can check in `valid_file` if there are no errors on "file" field and then process parsing.

[code]

[code]

[2019-12-24 15:17] igorkasyanchuk commented on #52
marking as closed, you just have a too custom situation, and code above should help

[2019-12-24 15:17] #52 closed

[2020-01-22 21:55] anquinn opened #55 "Storing blob when validation fails"
Rails version: 6.0.2.1
Gem version: 0.8.6

Validation:
`validates :bill_kit, content_type: { in: ['application/pdf', 'application/msword', 'application/vnd.openxmlformats-officedocument.wordprocessingml.document'], message: 'is not a PDF or Word Document' }`

If you upload a file other than a word doc or a PDF the validation fails (as it should) but the blob is still stored in the db. The attachme

[2020-01-22 22:16] igorkasyanchuk commented on #55
@anquinn can you try to make a fix? or at least add a test that fails and reproduces your problem?

[2020-01-22 22:24] anquinn commented on #55
This is my first time using active_storage, still figuring it all out. Just wanted to report the bug.

[2020-01-27 21:44] #48 closed

[2020-01-28 03:57] sarahstrong opened #58 "Metadata validation fails when config.active_storage.replace_on_assign_to_many = false"
Using Rails 6
Set config.active_storage.replace_on_assign_to_many = false to append to blobs list on update instead of replacing, see: https://edgeguides.rubyonrails.org/6_0_release_notes.html
On a record which has_many_attached blobs, set metadata validations like dimension: { width: { min: 200 }, height: { min: 200 } }
Attach one or more images to a record. This succeeds.
Now, attach one or more

[2020-01-28 08:44] igorkasyanchuk commented on #58
@sarahstrong can you try to pull repo and try to make a fix?

[2020-01-30 01:56] connorshea opened #60 "How to run the test suite?"
I'm trying to run the test suite, but it's failing with this error:

[code]

Any ideas?

[2020-01-30 07:32] igorkasyanchuk commented on #60
Try to do bundle install before.
Try to see what "--trace" shows, and maybe include. This is strange because it runs even on the Travis ci.

[2020-02-04 09:34] igorkasyanchuk commented on #60
I've just executed in root folder of gem: bundle + same command as you send and it works.

[code]

[2020-02-04 09:34] #60 closed

[2020-02-16 12:15] janko opened #62 "Security when using direct uploads?"
When using direct uploads, ActiveStorage will delay identifying the file into a background job, spawned only after the file has been attached. Currently, the initial blob's `content_type` is  determined solely based on the extension of the uploaded file, and I believe this value will be the one that's used by `active_storage_vaidations`. In this case, if my app is accepting only images, a maliciou

[2020-02-16 12:45] igorkasyanchuk commented on #62
I don't know what we can do to prevent this issue.  Maybe you can try to analyze the file later on the server and check if it's an image and if not - delete the file.

Gem doesn't support validation on the frontend, and of course, if you want to add it - all community will appreciate it.

[2020-02-20 10:24] Mate2xo commented on #55
I have the same problem on Rails 5.2. I initially made a custom `ContentTypeValidator` that had a `value.purge` statement to delete the blob and the  file from strorage. The problem was that, apparently, `.purge` relaunches all validations : this unexpected behavior made it difficult to populate the `errors` array properly, as the purged record being re-validated is in a different state upon 2nd v

[2020-02-20 10:44] igorkasyanchuk commented on #55
@Mate2xo yes, this is a strange issue, and I don't have a fix.

So a possible solution would be is do create at least some snippet of code that could be used inside gem or app to cleanup attachments.  I like your idea of adding a spec for this and it would be a good start to fix this issue. Your contribution is more than welcome!

[2020-02-20 11:36] Mate2xo commented on #55
OK I'll try some things and share the results

[2020-02-25 20:07] igorkasyanchuk commented on #55
Can someone help with the validation of this PR?
And maybe this "purge" should be added to other validators?

[2020-02-26 12:35] Mate2xo commented on #55
Yeah I guess the `.purge` should be implemented on other validators (except `AttachementValidator` I suppose). I'll try to write some purge tests for other validators when I find some time

[2020-02-26 12:42] Mate2xo commented on #55
In the meantime, as I am not familiar yet with `Matchers` syntax, if you could find why the `.purge` on `ContentTypeValidator` makes the `SizeValidatorMatcher` fail, that could guide us into how to call the `.purge` in a proper way

[2020-03-05 13:30] kennyevil commented on #55
I think I can provide a little more insight on what's happening here, though I can't offer a solution.

I added a custom after_validation method on a model using ActiveStorage and I noticed some weird behaviour, that the file was being persisted even though the validation had failed. The ```after_validation``` method was meant to purge the file if the file validations had failed, but the file was

[2020-03-10 09:45] Mate2xo commented on #55
If I understand correctly Rails's documentation, when a validation fails the callback chain is stopped; thus the `after_validation` callback is never called.

[2020-03-10 11:06] kennyevil commented on #55
I put a binding.pry in the method on my local environment and it was definitely being called.

[2020-03-10 12:55] Mate2xo commented on #55
Ok good to know, thanks

[2020-04-16 15:03] JohnSmall opened #69 "uninitialized constant ModuleX::ModuleY::ModuleZ::AttachedValidator"
This is similar to
[issue 15](https://github.com/igorkasyanchuk/active_storage_validations/issues/15), but the context is sufficiently different to make a new issue.

Using Rails 5.2.3 with Ruby2.5.5.

This is a project I've inherited and it's old convoluted code. I'm moving from using Paperclip to ActiveStorage and trying to use active_storage_validations.

In part of the project we define an `ac

[2020-04-22 16:41] dwthien opened #70 "Error AttachedValidator"
I have the issue when I build the class inside the module, look at the image, It will work if I comment validation code. Can you help me resolve this issue?
Rails 6.0.2.1

![image](https://user-images.githubusercontent.com/25741737/80008325-cb3d5300-84f1-11ea-9e7f-f02d847d2ffa.png)
![image](https://user-images.githubusercontent.com/25741737/80008347-d42e2480-84f1-11ea-8a00-19dafc089e2c.png)

[2020-04-22 16:59] #70 closed

[2020-04-23 06:46] igorkasyanchuk commented on #70
What was the solution?

[2020-04-23 09:49] dwthien commented on #70
Hi @igorkasyanchuk ,
Sorry about this, I installed gem but I didn't restart rails console, so didn't load the gem.

Thank you for your support.

[2020-04-27 14:45] JohnSmall commented on #69
Good idea but..

The examples in the documentation on ActiveSupport::Concern don't match the pattern for using your gem.

In the examples  in the documentation a module is included inside another module so it's clear where you have to put `extend ActiveSupport::Concern`. I've used concerns elsewhere in ActiveRecords and never had a problem.

But your code includes itself into ActiveSupport when Ac

[2020-05-04 11:47] JohnSmall commented on #69
Solved it!!!

My `acts_as_image_upload` was defined in a gem which we use internally to share between different projects. I'd included `active_storage_validations` in the dependencies for that gem. But that meant the dependencies were loaded in the wrong order.

All I had to do was add `active_storage_validations` into the Gemfile for the top level project, right after `rails` and it now works.

[2020-05-04 11:47] #69 closed

[2020-05-04 12:36] igorkasyanchuk commented on #69
Wonderful 👍

[2020-05-06 03:04] wuminzhe opened #71 "The translation message is invalid according to the instructions"
[code]
does not work.

but if I put messages under activerecord errors, it works.

[2020-05-07 22:17] ImOnMars opened #72 "Running validation alone doesn't seem to take options into account"
**I have a specific situation where I have to run the individual attached validation with `validate_each` and it doesn't seem to take into account the passed options.**

Validation in my model:
`validates :file, attached: true, if: Proc.new { |i| i.something.blank? }`

Running validation individually:
[code]
where `record`'s `something` attribute isn't blank and yet it returns the "file can't be b

[2020-05-11 18:16] ImOnMars commented on #72
Alright well this working is no longer necessary for me as I've changed my implementation. Feel free to close the issue if it's not an actual problem.

[2020-05-14 18:53] #72 closed

[2020-05-14 18:53] igorkasyanchuk commented on #71
Can someone make a PR with fix?

[2020-05-24 16:45] reckerswartz commented on #71
@wuminzhe checked working fine. can you provide more information?

[2020-05-24 16:46] reckerswartz commented on #58
cc @igorkasyanchuk please close this issue.

[2020-05-24 18:26] #58 closed

[2020-06-30 10:53] vitobotta commented on #62
Hi @igorkasyanchuk So does this mean we cannot do any validations with ActiveStorage? That's a bummer. I am in the process of migrating from Shrine because I like that with AS I don't have to alter the structure of the models. I thought I could use this gem for validations but I am direct-uploading to DigitalOcean. With Shrine I had some validations but admittedly I wasn't doing direct uploads, so

[2020-06-30 11:18] igorkasyanchuk commented on #62
This gem doesn't do any validations using JS. So for direct uploads, it doesn't work

[2020-06-30 11:40] vitobotta commented on #62
Sorry for the confusion, I wasn't referring to js validations (I use Uppy for that) but server side validations. I got the file size validation working, it was a silly mistake from my part. Thanks for the gem!

[2020-08-01 04:18] alejandrodevs opened #78 "Error on attached matcher"
I have the following model:

[code]

And the following test:

[code]

it fails in the "when is paid" context. I was checking the code out and I think the error is here:
https://github.com/igorkasyanchuk/active_storage_validations/blob/master/lib/active_storage_validations/matchers/attached_validator_matcher.rb#L35

You are always creating a new instance of the subject class:
https://github.com/igo

[2020-08-01 05:15] igorkasyanchuk commented on #78
Hi @alejandrodevs, can you make a PR with a fix?

[2020-08-04 23:03] alejandrodevs commented on #78
Sure, not problem. #79 please validate.

[2020-09-11 11:24] gitjul opened #80 "There's a way to save a record with no attachment even with an attachment presence validation (using Trestle)"
I ran into an issue when using active_storage_validations with Trestle (https://github.com/TrestleAdmin/trestle/trestle-active_storage) and with trestle-active_storage (https://github.com/richardvenneman/trestle-active_storage, wrote about the issue here: https://github.com/richardvenneman/trestle-active_storage/issues/23) and I'm not sure which of the gems possibly "owns" the issue, so forgive me

[2020-09-11 13:02] igorkasyanchuk commented on #80
@gitjul if possible, please replicate with test inside test/dummy app in this gem

if you can make a test which fails it would be a nice start point to fix this issue

sorry but I need support from you too :)

[2020-09-11 13:27] gitjul commented on #80
@igorkasyanchuk sure, no time now but I'll try when I have some

[2020-09-17 01:57] JasonBarnabe opened #82 "Size validation message is not very good"
Using:
[code]

The message I get is

- This is broken English - numbers are "in" a range, not "between" a range
- This doesn't mention what the requirements are
- I didn't specify a range - just a maximum
- It should reference a singular "attachment"

Rails's numericality validator gives messages like this:

so something like

 that would be good. (I know I can customize the message but I figure t

[2020-09-20 13:15] vitobotta opened #83 "Dimension validator not working"
Hi! I am having a problem with the dimension validator where [this line](https://github.com/igorkasyanchuk/active_storage_validations/blob/47f676ff16eded49226c5df9a02e6e312a5cbb25/lib/active_storage_validations/metadata.rb#L24) causes the exception `NoMethodError (undefined method `id' for nil:NilClass)`.

Any idea of how to fix? Thanks!

ps. I'm on Rails master if that's relevant.

[2020-09-20 13:25] vitobotta commented on #83
Adding that I am doing direct upload to S3.

[2020-09-23 12:57] JohnSmall opened #84 "if:"

[2020-09-23 13:33] JohnSmall opened #85 "validate :attachment, attached: true, if: :some_procedure_to_check_data?"
How can I do a conditional validation based on some arbitrary criterion?

I can do this with other validations e.g.

`validates :some_field, numericality: true,  if: :some_function_to_check_a_condition?`

but this doesn't work

`validates :attachment, attached: true, if: :some_function_to_check_a_condition?`

Which is strange because it should check `if: :some_function_to_check_a_condition?` befor

[2020-09-24 12:34] JohnSmall commented on #85
Solved it.

The problem was in my tests. I was using

`it { is_expected.to validate_attached_of(:attachment) }`

Even with `subject` carefully configured so that `some_function_to_check_a_condition?` returned true, it still wouldn't validate the attachment.

I just used more explict code, set up the model so the condition passes, validate and check the resulting error messages contains a key to sh

[2020-09-24 12:34] #85 closed

[2020-09-29 00:58] SirNerdBear opened #86 "Attached message"
When doing this:
`validates :stored_image, attached: true`

The error message is "Can't be blank"

Normally with rails I can do:
`validates :stored_image, attached: {message: "Must provide an image"}`

But that is not an option here. I was hoping one of the translation keys was for a missing image but doesn't appear that's the case. Unless I'm missing something?

[2020-10-01 12:33] ernest4 opened #87 "Specs not recognising the on method (thus can't scope validations to update in specs)"
Hi :) great work on the gem!

I have a validation that I only want to run on update. The validation does run on update as I expect, however the specs don't look like they recognise the **on** method. So basically can't use the specs to check for validation on update, only on create (default).

<img width="1053" alt="Screenshot 2020-10-01 at 13 26 02" src="https://user-images.githubusercontent.com/

[2020-10-01 13:39] igorkasyanchuk commented on #87
I guess, matcher in the gem doesn't support this option so I think the best is to fork a gem and make a fix 👍

[2020-10-02 01:32] SughoshRao opened #88 "Presence validation fails to account for marked_for_destruction"
Hey, thanks for your work on the gem!

Consider the following example code:

[code]

If the image is now set as `marked_for_destruction`, via the `_destroy` attribute, the `image_attachment` is deleted (along with the blob) on saving the model.. This is unexpected, I'm looking for the presence validation to be triggered before any operation is performed with the attachment.

This was a bug in Acti

[2020-10-02 11:47] igorkasyanchuk commented on #88
Hello @SughoshRao if possible, please create a PR with a fix?

[2020-10-09 17:04] dinhngochien opened #89 "TypeError (no implicit conversion of StringIO into String) - Decoding base64 file"
Hi, first of all, thank you for your hard work in building a fantastic gem.
I got an issue with validating file, when I was trying to save the decoded file the error occurred:
`TypeError (no implicit conversion of StringIO into String)`
Here is my controller where I save the file:
[code]
In my model, there is my validation:
[code]
If I comment out the validates, then I can save successfully. I'm n

[2020-10-09 17:18] reckerswartz commented on #89
@dinhngochien in examples io using a file input
[code]
can you try using it?

[2020-10-09 17:22] igorkasyanchuk commented on #89
He is receiving the file as Base64 string and needs to save first content to the tempfile, which is not convenient.
But I guess without file on disk validations for size, resolution will not work, just my guess.

[2020-10-09 17:25] reckerswartz commented on #89
Yes, there might be a way to convert the Base64 string into the File input string without saving on disk.

[2020-10-10 15:42] dinhngochien commented on #89
Thank you so much for supporting guys, I finally found a way to save the file without affecting the validation. I will close the issue.

[2020-10-10 15:42] #89 closed

[2020-11-18 23:52] Signum opened #91 "ActiveStorage accepts broken images and throws exceptions when creating variants"
**TL;DR** There is no way to detect broken image files. So exceptions are thrown later when ActiveStorage tries to render _variants_.

I originally submitted this issue to https://github.com/rails/rails/issues/40493 but was directed here.

### Steps to reproduce

Create a controller action that receives uploaded image files. A part from my Rails application:

[code]

My model:

[code]

(The valida

[2020-12-13 21:10] connorshea opened #93 "Aspect ratio validation on Rails 6.1 results in NoMethodError"
I have a `User` with an avatar, like this:

[code]

When I try to upload a file for my avatar on Rails 6 it worked fine. On Rails 6.1, it's busted.

Full backtrace:

[code]

This only seems to effect the aspect ratio validator, as far as I can tell? If I remove the aspect ratio attribute on that method, everything works fine.

This is the line that's broken: https://github.com/igorkasyanchuk/activ

[2020-12-13 21:17] connorshea commented on #93
Okay, I figured it out. It's definitely from that commit I linked. If I change the method to `find_signed!`, it works. Maybe should have an `if` statement that'll use `find_signed!` if Rails >= 6.1  and `find_signed` otherwise.

[2020-12-16 23:00] #93 closed

[2020-12-18 14:13] PSM8493 opened #95 "ActiveAdmin and active_storage_validations"
This Gem is great. i'm using it for a front end form which is perfect.

I'm also using it for the Admin part of my App using activeadmin gem.

I get validation error message in ActiveAdmin but it saves the file and ignores the validations

`validates :images, content_type: ['image/png', 'image/jpg', 'image/jpeg'], limit: { min: 1, max: 2,  message: 'You are allowed a maximum of 2 attachments' }, s

[2020-12-22 01:54] connorshea opened #98 "Ruby 2.7.2 deprecation warning for Ruby 3"
I'm pretty sure this is a problem in active_storage_validations, not with activemodel, though I might be wrong.

From running my specs on Ruby 2.7.2 with the `RUBYOPT='-W:deprecated'` environment variable set:

[code]

(The reason that environment variable is necessary is because 2.7.2 made the deprecation warnings hidden by default).

The gem is on a commit SHA because it's on my branch for #94,

[2020-12-22 01:55] connorshea commented on #98
https://github.com/igorkasyanchuk/active_storage_validations/blob/16790157b4aaaf9f2a3940b15f9d41c635e7451e/lib/active_storage_validations/size_validator.rb#L28

I think this one can be fixed pretty easily?:

[code]

[2020-12-22 02:27] connorshea opened #99 "Use Circle or GitHub Actions for CI"
Or GitLab CI, which is my preference but isn't trivial to set up with a GitHub repo :)

Since Travis is pretty much dead and the repo currently doesn't have CI set up for it, now would be a good time to switch.

[2020-12-22 08:07] #98 closed

[2020-12-27 09:48] mmotherwell commented on #83
I debugged the code and it passes in a string that is super long (eyJfcmFpbHMiOnsibWVzc2FnZSI6IkJBaHBGZz09IiwiZXhwIjpudWxsLCJwdXIiOiJibG9iX2lkIn19--0d6f6469d9e6acf521c4bb6aeb460a4997419115), and causes an issue on line 24 of Metadata.rb, where  ActiveStorage::Blob.find_signed(file) returns nil.

Not sure how to proceed, as it seems like this is an ActiveRecord issue, and I'm not really sure how to

[2020-12-27 09:53] mmotherwell commented on #83
Sorry to double post, but could it be the code on Metadata.rb on 24 to add the ! it works, e.g. change

`blob = is_string ? ActiveStorage::Blob.find_signed(file) : file`

to

`blob = is_string ? ActiveStorage::Blob.find_signed!(file) : file`

It works.

[2020-12-28 20:13] igorkasyanchuk commented on #95
Sorry, can't help now with this issue. I'm not a fan of ActiveAdmin and never used it. Maybe you can contribute to it

[2020-12-28 20:17] igorkasyanchuk commented on #83
@mmotherwell please prepare a PR with a fix. And I'll merge it

[2020-12-30 10:58] consitently commented on #83
Is it not in master? Should I just get the tests passing?

[2021-01-04 13:27] guillaumebriday opened #101 "Merge this gem into Rails"
Hey

This gem is really helpful and it could be very cool to see it in Rails core.

Do you plan to open PR in rails/rails to merge it?

Thanks 🙏

[2021-01-04 15:25] igorkasyanchuk commented on #101
Hi @guillaumebriday
Thanks!
It was opened before and no luck with it. You can probably find the thread about it.

PS: you can check a few other gems which I've created in the past :)

[2021-01-11 20:46] #99 closed

[2021-01-11 20:47] #101 closed

[2021-01-21 17:53] mantenie opened #105 "Allow Procs as values for validator restrictions"
Hi there!

Sometimes it is necessary to have dynamic values for validations. I have seen in some other validator gems also procs can be passed instead of integers. These are then called in the validator methods. Then it is possible for example to use ENV variables to set the dimensions or sizes.

That would be another super addition to make this extension even more useful.

[2021-01-27 18:53] simchikoops opened #106 "Rails dependency"
With the dependency on Rails, and not its sub-components, it's not possible for an app that uses this gem to cut out parts of Rails to save memory. Can this be changed? Glad to come up with a PR if you can tell me what they should be (ActiveModel?).

[2021-01-27 19:20] igorkasyanchuk commented on #106
@simchikoops interesting idea, if you can do it I'm fine, with examples and tests.

Gem could see if Rails is defined then include functionality, if not - it's fine too.

[2021-02-17 15:17] samiggapps commented on #91
I did find this answer on SO which helped fix my issue
https://stackoverflow.com/a/60084096/7913423

[2021-03-11 23:20] mintyfresh opened #109 "Content Type validator silently ignores undefined MIME types"
Giving the content type validator a symbol that does not map to a supported MIME type will be silently ignored, leading to false negatives that are pretty hard to track down.

## Example Code
[code]

By default, neither `Mime[:doc]` or `Mime[:docx]` are defined (thus return nil).

## Expected Behaviour
Supplying a symbol for an undefined MIME type raises an error.

## Actual Behaviour
Supplying a

[2021-03-19 17:31] aebejer commented on #89
For others that run into this problem, you can do something like this in rails 6:
[code]

[2021-03-24 02:18] vccoffey opened #112 "Test matchers give MiniMagick::Error"
The model:
[code]

the tests
[code]

gives errors:
[code]

[2021-04-16 22:58] a-moreira opened #113 "Validate total size of attachments in case of has_many relationship"
This is a great gem, thanks a lot.
As far as I understand, it's not possible to validate the total file size (summation of each file size) in case we have a `has_many` relationship. For example, I have the following contraint:

- upload some documents summing up to 10MB in size, each document with max 1MB each.

Currently I'm validating manually in the Model, but it'd be useful to have this in the

[2021-05-13 15:44] DedovR opened #118 "How can I do validation optional?"
How can I do validation optional? For example like this
`validates :logo, attached: true, presence: false`

[2021-05-13 15:52] #118 closed

[2021-06-08 07:50] #109 closed

[2021-06-24 13:02] randsina opened #122 "Attachments has limited mime types variations"
Rails: 6.1.3.2
ActiveStorageValidations: 0.9.4

The model:
[code]
the tests
[code]
got `content_type must be one of Regxep, supported mime types (e.g. :png, 'jpg'), or mime type String ('image/jpeg')`

It's possible to use `String` to define validations and have green tests but it's not so convenient.
[code]

The current gem uses `Mime` to find the correct content_type. In the same time, `rails` i

[2021-06-24 13:59] igorkasyanchuk commented on #122
@randsina I'm ok if you can prepare the PR and migrate to Marcel since it is now default in Rails

[2021-06-25 14:09] #122 closed

[2021-06-28 13:17] IvanShamatov opened #127 "Specs slowed down alot"
Thanks for your gem, but you'd probably should know that after you added Marcel gem, it slowed specs a lot.
We use validations only in 2 places and every validation check took 5minutes locally and 12 minutes on GHActiions for each check.
I believe the reason for that is that Marcel (when you don't pass name) opens the file.
https://github.com/rails/marcel/blob/51a8f5535f927c1494bd6fc78abc3021aedf6

[2021-06-28 17:01] igorkasyanchuk commented on #127
What options do we have? Can we add caching?

[2021-06-28 18:34] IvanShamatov commented on #127
At least we can pass the name, so Marcel can guess mime type by name. Or do not use Marcel::TYPES only. You are the author, what would you recommend?

[2021-06-28 18:49] randsina commented on #127
Not clear what's the validations cause this behaviour. Could you provide your test suite?
1. `Marcel` opens the file only if you pass the option `pathname_or_io`. It doesn't happen in this validation.
https://github.com/igorkasyanchuk/active_storage_validations/blob/8cd2eadc7aa67359cbca51ef05a8f96037f8a39a/lib/active_storage_validations/content_type_validator.rb#L29
2. `Marcel::TYPES` provides con

[2021-07-13 19:08] colinchan15 commented on #89
@dinhngochien I'm running into the same issue. What was your solution to this issue?

[2021-07-14 06:46] #106 closed

[2021-07-19 11:12] StefSchenkelaars commented on #127
It seems that the slowness is originating from Rails 6.1.4 (which actually switches the Marcel gem).

[2021-07-22 15:44] SynthesisOne opened #130 "How i Can validate file by mime type"
Hello, tell me how you can check the file not only by extension but also by content, because at the moment, if, for example, change the file extension json to jpeg, then the validation does not work.
Thanks

[2021-08-14 17:17] rslhdyt commented on #15
I have a similar issue with this one.

I was trying to use form object patterns in one of my processes. the code looks like this

[code]

my controller

[code]

I got an error like this one

from /Users/sleekr/.rbenv/versions/2.7.2/lib/ruby/gems/2.7.0/gems/active_storage_validations-0.9.4/lib/active_storage_validations/attached_validator.rb:6:in `validate_each'
[2] pry(#<RSpec::ExampleGroups::Crea

[2021-08-16 12:47] randsina commented on #15
@rslhdyt Did you try validation w/o option `attached: true`?
As I understand, if you have `limit` option in your case, it's not necessary to have `attached: true`?
Am I right?

[2021-09-21 23:41] gr8bit commented on #105
Seconded! In my case, the maximum upload size depends on the logged in user.

[2021-10-04 10:47] gr8bit commented on #105
Working on it! Stay tuned…

[2021-10-06 16:00] Looooong opened #136 "Uninitialized constant Marcel::TYPES"
`Marcel::TYPES` is only introduced from version 1.0. Dependency need to be fixed.

[2021-11-09 21:21] joshmcarthur commented on #127
This slowness seems to be a scale issue, rather than a particular bottleneck. The content type matcher [attaches a file for a given type](https://github.com/igorkasyanchuk/active_storage_validations/blob/ceeee23c4cecc117219085f8da772625c539b54d/lib/active_storage_validations/matchers/content_type_validator_matcher.rb#L90) to the field, and then checks there are no errors. Because it runs all the v

[2021-11-09 21:39] joshmcarthur commented on #127
Oh, so `rejected_types` [defaults to `Marcel::TYPES.keys - allowed_types`](https://github.com/igorkasyanchuk/active_storage_validations/blob/ceeee23c4cecc117219085f8da772625c539b54d/lib/active_storage_validations/matchers/content_type_validator_matcher.rb#L59), and this is used by both the `allowing` _and_ `rejecting` qualifiers of the matcher.

I think the intention of this is to check both 'side

[2021-12-07 14:18] luiseugenio commented on #136
@igorkasyanchuk I opened a PR with this fix. See what you think, please.

[2022-01-28 17:21] nejdetkadir opened #139 "Ratio optionality not working correctly"
![Screen Shot 2022-01-28 at 20 18 04](https://user-images.githubusercontent.com/50639655/151592520-20c7c83d-65eb-4948-b039-56aff8986d92.jpg)

rails v: 6.1.4.1
ruby v: 2.7.2

[2022-01-28 18:31] igorkasyanchuk commented on #139
@nejdetkadir try to fork, and in dummy app, in specs use your file and make a fix. It could be a great contribution

[2022-01-29 12:26] #139 closed

[2022-02-10 18:28] kapso opened #141 "Rails 7 support"

[2022-02-10 20:04] igorkasyanchuk commented on #141
It doesn't work? Can you make a fix?

[2022-02-21 04:41] rmu-wtag commented on #127
Without using rejecting, the spec becomes very slow, it took almost 10 min to pass the spec. Why rejecting has been used for which the spec ran faster? Can anybody explain?

[2022-02-24 21:45] nkirby-nxt opened #145 "Validations not working on Ckeditor gem models?"
Hello! I am unsure if this should mentioned here or under the ckeditor gem...

I have noticed that adding validations for file content types and sizes for `Ckeditor::Picture`, `Ckeditor::Asset`, and `Ckeditor::AttachmentFile` [models](https://github.com/galetahub/ckeditor/tree/master/lib/generators/ckeditor/templates/active_record/active_storage/ckeditor) do not seem to work.

Adding:
`validates :

[2022-02-26 13:56] samvandamme commented on #55
Just sharing my "solution" to this.

I have a job running every night to scan for blobs that don't have an attachment associated to them. This can result because of this issue, or when somebody deletes a picture, and the server only processed removing the attachment, but not the blob, or if AWS (in my case) wasn't reachable.

Here's the code
[code]

[2022-03-04 17:56] lavaturtle commented on #141
I'm trying to upgrade to Rails 7, and on my specs like this:
`it { is_expected.to validate_content_type_of(:image).allowing('image/jpeg', 'image/png', 'image/gif', 'image/svg+xml') }`
I get errors like this:
[code]

[2022-03-04 18:37] kapso commented on #141
Sorry forgot to update, I was able to upgrade to Rails 7

[2022-03-04 18:37] #141 closed

[2022-03-04 18:53] lavaturtle commented on #141
In my case, I worked around the issue by explicitly passing `.rejecting` to the matcher.

[2022-03-05 14:28] igorkasyanchuk commented on #145
I suggest to make a fork and fix, and actually some changes were added recently, maybe this is not an issue anymore

[2022-03-05 14:29] igorkasyanchuk commented on #136
will be release soon, already merged into masteer

[2022-03-05 14:29] #136 closed

[2022-03-05 14:29] igorkasyanchuk commented on #130
if you can create a PR with a fix

[2022-03-10 15:51] AlecRust opened #146 "Only one image validation error showing at a time"
Given an image attachment that is validated to minimum 320x320px:

[code]

When I upload a 20x20px image:

![Screen Shot 2022-03-10 at 15 44 03](https://user-images.githubusercontent.com/247634/157698958-b2639e97-aae2-484f-94ad-f817c7ac253e.png)

Then only the _width_ validation appears:

![image](https://user-images.githubusercontent.com/247634/157699352-c6241937-e9d9-442a-8019-8c470330a2aa.png)

[2022-03-10 19:17] igorkasyanchuk commented on #146
Hi, I think it's possible, but you should make a PR with a fix or wait for someone who will do.

I think you should try to do it, instructions in the readme.

[2022-03-11 07:57] nkirby-nxt commented on #145
The problem still persists after updating to 0.9.7. I believe the issue is that the `ActiveStorageValidations` module is loaded well before the Ckeditor modules in the ancestor chain on the Ckeditor models stated above. The validations run before the Ckeditor `before_save` [callback](https://github.com/galetahub/ckeditor/blob/8200ccdbf789669d154b800aab329db8f46aabdc/lib/ckeditor/backend/active_sto

[2022-03-25 08:01] SamihaFansur opened #147 "Unknown validator: 'ContentTypeValidator' error"
I get a Unknown validator: 'ContentTypeValidator' error on rails 6 when I try to validate my pdf files which are attached as a has_many _attached attachment.

`validates :files, content_type: {in: 'application/pdf', message: 'Please upload .pdf files only'} `

[2022-03-28 18:52] kwent commented on #89
Hi, i'm seeing the same error with the snippet of code below. Works well if i removed the `aspect_ratio: :square` validation

[code]

Regareds

[2022-03-29 03:00] kwent opened #149 "uninitialized constant ActiveStorageValidations::Metadata::MiniMagick"
Hi, this line fails when fully migrated to `vips` because we aren't loading `MiniMagick` anymore.

https://github.com/igorkasyanchuk/active_storage_validations/blob/master/lib/active_storage_validations/metadata.rb#L80

Regards

[2022-03-29 08:19] igorkasyanchuk commented on #89
@kwent I think the best is if you can clone the gem repo, connect it locally, and but binding.pry inside gem and run your code. If you can find exact error and make a PR it would be great and I'll merge it

[2022-03-29 08:22] igorkasyanchuk commented on #149
Can you make a fix, maybe we can add some dummy error class in the code, for example, DummyException (which never happen), and before rescue write something like

exception_klass = defined?(MiniMagick) ? MiniMagick::Error : DummyError

and use in `rescue exception_klass`

[2022-03-31 08:20] #149 closed

[2022-04-13 12:07] gryphon opened #154 "Validation fails when attached using io URI open"
When attaching attachment via download from URI.open validation says that Magick or Vips do not support this file type.

[2022-04-15 09:37] kronn opened #155 "Release 0.9.8 (or so)"
Since the last PR removes the need to include both `mini_magick` AND `vips` in the `Gemfile`, it is an important release for me. For development, I can (and do) use the gem as a git-dependency. For production-deployments, I would prefer a gem available from rubygems.org.

Could you make a new release of your gem?

[2022-04-17 10:29] tagliala opened #156 "Push release tags"
Hi, is it possible to push release tags to GitHub?

[2022-04-17 10:48] igorkasyanchuk commented on #156
Hi, why is it needed?

[2022-04-17 11:03] igorkasyanchuk commented on #155
Released, sorry for a delay

[2022-04-17 11:03] #155 closed

[2022-04-17 11:21] tagliala commented on #156
Hi, thanks for the prompt response and the new release

Releases tags are very useful to browse the source code at the exact commit of the release, in example I would like to check source code of 0.9.7, and I could have done here: https://github.com/igorkasyanchuk/active_storage_validations/tags

I will use rails itself as example: https://github.com/rails/rails/tags

[2022-04-17 11:39] igorkasyanchuk commented on #156
I'll try to do, created for current 0.9.8. Next time will try to do for the next release

[2022-04-17 11:39] #156 closed

[2022-04-18 06:49] kronn commented on #155
Thank you very much

[2022-04-19 15:10] AlecRust commented on #146
This seems fixed now, thanks @Animesh-Ghosh!

[2022-05-22 05:42] stevecondylios opened #159 "Some video examples in the readme"
It's rare to see such abundance of great examples in a gem's readme! 😃

I wonder if it's possible to include some examples for videos too? That would help someone get started even quicker.

[2022-05-31 14:05] icernn03 commented on #118
@DedovR  how did you achieve it?

[2022-06-01 08:20] DedovR commented on #118
Don't use `attached: true` :) For example:
```validates :image, aspect_ratio: :square, content_type: :png```

[2022-06-27 19:25] yarmiganosca opened #160 "Aspect Ratio generally includes a ':', not a 'x'"
Aspect ratios are generally given as 16:9 or 4:3, not 16x9, at least in my experience (maybe this differs between language contexts). This results in the error messages this gem produces being a little confusing.

[2022-06-27 19:37] igorkasyanchuk commented on #160
I'm fine if you can create a PR with this fix. Should be easy to change.

[2022-06-28 01:10] yarmiganosca commented on #160
I should be able to put one together tomorrow.

[2022-07-22 15:26] Mth0158 opened #163 "[Validations] Validations fail when using dimension: { min: 1080..1080 } syntax"
Hi,

In the readme, it is mentioned that we can use a short syntax for validating a min width and a min height at the same time, this looks like:

[code]

However, using this syntax makes the validations fail with RSpec, if I use:
[code]

It will throw me an error saying:

[code]

Whereas if I use this syntax:

[code]

The previous test passes perfectly.

I could not find in the gem code why it ac

[2022-09-21 12:39] williantenfen opened #164 "Deprecation Warning: image/bmp is not a valid content type. Rails 7.1"
Couldn't get around this:
`DEPRECATION WARNING: image/bmp is not a valid content type, it should not be used when creating a blob, and support for it will be removed in Rails 7.1.`

Versions:
`Rails 7.0.4`
`active_storage_validations 0.9.8`

Spec:
`it { is_expected.to validate_content_type_of(:file).allowing("font/otf", "font/woff", "font/woff2")  }`

[2022-10-05 18:23] #105 closed

[2022-10-06 04:39] MateoLa commented on #147
Try adding to your .gemspec file:
  spec.add_dependency "active_storage_validations"

[2022-10-06 09:20] kukicola opened #165 "Conditional validation not working"

[2022-10-06 09:20] #165 closed

[2022-10-06 09:23] kukicola opened #166 "Conditional validation not working"
Hello
Version 1.0.0 broke my validation:

[code]

[code]

after removing `if` it works correctly. Maybe it's connected to https://github.com/igorkasyanchuk/active_storage_validations/pull/135/files ?

[2022-10-06 11:39] igorkasyanchuk commented on #166
@gr8bit, @StefSchenkelaars is it something that you can look?

@kukicola if possible maybe you can fork and create a fix?

[2022-10-06 12:15] gr8bit commented on #166
I will look into it. From a first guess, I think `if` might be picked up in the proc unfolding and get the record passed inside which the proc doesn't want.

[2022-10-06 18:41] crismali commented on #164
@williantenfen I was able to get around this warning by chaining a specific `rejecting` to the `allowing` like

[code]

The matcher falls back to `Marcel::TYPES.keys` when `rejecting` isn't chained so if you want things to behave like they do now but without the deprecated type you could try something like

[code]

[2022-10-09 18:13] gr8bit commented on #166
@igorkasyanchuk fixed and added tests for the case. :)

[2022-10-10 09:19] #166 closed

[2022-10-10 18:35] sobrinho commented on #127
@igorkasyanchuk would you check #169 ?

[2022-10-11 07:59] marckohlbrugge opened #170 ""foobar is not a valid image" for valid image (error only in production)"
I have the following validation in my model:

[code]

When trying to attach an image that fits these criteria, it works fine on localhost (disk storage). But when trying the same image in production (using S3), I get the error `Input message is not a valid image`. Unfortunately it does not specify what's not valid about it.

Any suggestions on how to debug this?

I'm using `rails (7.0.4)`, and `ac

[2022-10-12 17:18] williantenfen commented on #164
@crismali Thanks, looks like it worked...

[2022-10-13 01:16] gr8bit commented on #170
Hm, my semi-educated guess is: you're either
a) using an asynchronous job runner in production but not locally which delays image analyzation and therefore the adding of the width and height metadata the dimension validator needs or
b) missing a Vips/ImageMagick processor for the uploaded files in question.

I'd try to reproduce the error using an own "development" S3 bucket locally.

[2022-10-14 11:07] marckohlbrugge commented on #170
That was it!

I have removed the dimensions validation (and kept the rest), and now it works as expected. Thank you!

I guess I can use something like [`fastimage`](https://github.com/sdsykes/fastimage) in a `before_validation` callback to set the height and width. Perhaps also worth adding as an option to this gem, as I believe analyzing an attachment asynchronously is the default in Rails?

[2022-10-14 12:22] daan-b opened #171 "if and unless conditions broken on 1.0.0"
Since release 1.0.0 we aren't allowed to use the if: and unless: statements on the validations:

[code]

Will give an error:

[code]

Probably because the new OptionProcUnfolding tries to parse the if and unless statements.

Fix is for now to downrgrade to 0.9.8

[2022-10-19 11:26] gr8bit commented on #171
You are indeed right, it is fixed in #167, merged, but not yet released. @igorkasyanchuk could you maybe release a 1.0.1 with the fix (or even 1.1.0 if new functionality are in the main branch as well already)?

[2022-10-19 11:34] #171 closed

[2022-10-19 11:37] #127 closed

[2022-10-19 11:39] igorkasyanchuk commented on #163
Feel free to make a PR and fix this issue.

[2022-10-19 11:41] igorkasyanchuk commented on #159
I don't think videos are needed. If developer knows how validations works - 100% he can get to work this gem

[2022-10-19 11:41] #159 closed

[2022-10-19 11:46] igorkasyanchuk commented on #171
released! v1.0.1
thanks for your support

[2022-10-21 07:49] tagliala commented on #127
Hi, I can see that there is an improvement in 1.0.1 when using the `allowing` matcher

[code]

[2022-10-24 21:02] gr8bit commented on #170
There's a mechanism for this already somewhere in ActiveStorage, I remember seeing some logic like "was the picture analyzed yet? if not, do it right away." in the AS code a few months ago. I will dive back into that.

[2022-10-26 12:33] marckohlbrugge commented on #170
I think this gem by already do this. The problem might be my own code disabling analyzers altogether.

(So please don't spend time looking into this just for me.)

[2022-11-02 03:15] limitlessmind opened #175 "Known Issue"
This is regarding the known issue generating image preview. In my case an image variant. It's written that this code was fixed in Rails 6. I'm using Rails 7.

When adding an unsupported file, like a PDF when it should only accept PNG or JPEG, the preview image errors out because I am using:

`<% if user.image.attached? %>`

In my case it makes sense because I am using the preview on the same page

[2022-11-18 09:11] marckohlbrugge commented on #170
I'm running into a similar issue in a different codebase.

The validations work fine in development. But on production I always get `"[…] is not a valid image"`

This codebase uses Amazon S3 in both development and production. I haven't disabled any analyzers or done any custom ActiveStorage configuration:

[code]

I did notice when I checked one of my activestorage attachments, it had no width/he

[2022-11-18 09:29] marckohlbrugge commented on #170
Okay, I think I tracked down the issue!

My server uses `vips-8.7.4` whereas my local development machine has `vips-8.13.2`

It turns out that `Vips.get_suffixes` will always return an empty array for versions below 8.8. See https://www.rubydoc.info/gems/ruby-vips/Vips.get_suffixes

Which means that the following code…

https://github.com/igorkasyanchuk/active_storage_validations/blob/c439869a6c43